<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>{{ site.title }}</title>
    <!-- <link href="style.css" type="text/css" rel="stylesheet"> -->
  </head>
  <body>
    <div id="page">
      <header>
        <a href="http://www.lcficmbs.com/ubb/ultimatebb.php"><img src="images/lcficmbs.gif" alt="Lois & Clark Fanfic Message Boards" /></a>
        <img src="images/chalficindex.gif" alt="Challenges Index" />
      </header>

      <main>
        {{ content }}
      </main>

      <footer><a href="">Contact Us</a></footer>
    </div>
  </body>
</html>